/* @import './reset.css'; */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body, #app {
    font-family: 'Inter', sans-serif;
    background-color: rgb(44, 44, 44);
    font-size: 110%;
    font-weight: 300;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding-left: 2em;
    padding-right: 2em;
}

hr {
    margin: 0;
    padding: 0;
    opacity: 0.3;
}

h2 {
    padding: 1em 1em;
    text-align: center;
    color: yellow; 
    margin: 0;
}

h2.big-title {
    color: white;
}

h2.page-title {
    margin-bottom: 1em;
}

section {
    padding-bottom: 1em;
    margin-bottom: 2.5em;
}
